//  Configuracion global
//  ==========================================================================

$base = {
   //  Tipografía
   //  -----------------------------------------------------------------------
   'font-family' : 'Open Sans',
   'font-size' : 16px,

   // Colores logo
   //  -----------------------------------------------------------------------
   'color-primary' : #56a8b0,
   'color-secondary' : #e35f5f,

   // Colores default
   //  -----------------------------------------------------------------------
   'color-text' : #eee,
   'color-background' : #1d1f20,

   //  Colores link
   //  -----------------------------------------------------------------------
   'color-link' : #059afa,
   'color-hover' : #046eb2,

   //  Bordes
   //  -----------------------------------------------------------------------
   'border-width' : 5px,
   'border-color' : rgba(#fff,0.7),
   'border-radius' : 5px
}
