//  BEMIT
//  --------------------------------------------------------------------------
$prefix-component = 'c-'
$prefix-object    = 'o-'
$prefix-utility   = 'u-'
$prefix-scope     = 's-'
$prefix-element   = '__'
$prefix-modifier  = '--'
$prefix-state     = '.is-'
