// Colores Generales
//  --------------------------------------------------------------------------
$silver  = #dddddd
$gray    = #aaaaaa
$navy    = #001f3f
$blue    = #0074d9
$aqua    = #7fdbff
$teal    = #39cccc
$olive   = #3d9970
$green   = #2ecc40
$lime    = #01ff70
$yellow  = #ffdc00
$orange  = #ff851b
$red     = #ff4136
$maroon  = #85144b
$fuchsia = #f012be
$purple  = #b10dc9


// Colores Light
//  --------------------------------------------------------------------------
$light-blue = #56a8b0
$light-green = #95c2b1
$light-red = #e35f5f
$light-yellow = #dec950
$light-orange = #e3975d
$light-pink = #e65e77
$light-brown = #ad7953
$light-gray = #a3a3a3


// Colores de Redes Sociales
//  --------------------------------------------------------------------------
$facebook = #2775e2
$twitter = #2bb4e8
$instagram = #517fa4
$whatsapp = #4dc247

// Colores de Youtube
$youtube = #cd201f
$you = {
   '1' : #e52d27,
   '2' : #b31217,
   '3' : #000,
   '4' : #fff
}

// los colores de google
$google = #ea4335
$goo = {
   '1' : #ea4335,
   '2' : #fbbc05,
   '3' : #34a853,
   '4' : #4285f4
}


//  Colores de Componentes
//  --------------------------------------------------------------------------
$text    = #5d5d5d
$default = #e8e8e8
$error   = #cb5234
$warning = #edb431
$info    = #3aa3e3
$success = #2ab27b
