//  Media queries
//  ==========================================================================

// Breakpoints
$device-xs = 320px  // 20em
$device-sm = 480px  // 30em
$device-md = 768px  // 48em
$device-lg = 992px  // 62em
$device-xl = 1200px // 75em

// Breakpoints list for respond-to mixin
$device = {
   'extra-small': $device-xs,
   'small': $device-sm,
   'medium': $device-md,
   'large': $device-lg,
   'extra-large': $device-xl,
}
