//- Contenido
//- ==========================================================================

//- Titulo de la App
.Titulo
   h1 Todo List

//- Listado a Editar
.Listado
   h3 List Selected
   ul.Listado__ul
      //- li Apple
      //- li.tachado Orange

//- Function Agregar   
.Agregar
   ul
      li
         input(type="text").inputText
      li
         button.btnAdd Add

//- Filtros de Resultados   
.Filtros
   h3 Filters
   ul
      li
         button.btnAll All
      li
         button.btnTodo Todo
      li
         button.btnDone Done
