//- Contenido
//- ==========================================================================

//- Titulo de la App
.Titulo
   h1 Todo List

//- Listado a Editar
.Listado
   ul
      li Apple
      li.tachado Orange

//- Function Agregar   
.Agregar
   ul
      li input(type="text")
      li
         button.btnAdd Add

//- Filtros de Resultados   
.Filtros
   h3 Filters
   ul
      li
         button.btnAll All
      li
         button.btnTodo Todo
      li
         button.btnDone Done
