//  EStilos de Home/Content
//  ---------------------------------------------------------------------------

#Listado,
#Agregar
   margin 1em

   border: $base['border-width'] solid $base['border-color']
   border-radius: $base['border-radius']

#Listado
   .tachado
      text-decoration line-through

#Listado__ul
   li
      cursor pointer
      user-select none
      &:hover
         color red
