doctype html
html(lang="es")
   head
      //- tag generales
      meta(charset="UTF-8")
      meta(name="description", content="Creacion de Gersom Alaja")
      meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
      title Todo List

      //- Fuentes de texto
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
      
      //- Hojas de estilo
      link(href="css/style.css", rel="stylesheet", type="text/css")

      //- Scripts
      script(src="js/general.js")
      
   body
   
      //- incluciones de los bloques
      //- include .main/header.jade
      //- include .main/footer.jade
