//  Mejorar estilos de los botones
//  ---------------------------------------------------------------------------
boton()
   background-color transparent
   cursor pointer
   margin-bottom 0.5em
   margin-top 0.5em
   outline none
   padding 0.3em 0.5em
   text-decoration none

   border: $base['border-width'] solid $base['border-color']
   border-radius: $base['border-radius']

   transition-duration 0.3s
   transition-property transform
   transition-timing-function ease
   &:active
      transform scale(0.9)
