//  Quitar los valores predeterminados de las listas
// Aplicarlo al Tag 'ul'
//  ---------------------------------------------------------------------------
lista($margen-izq = false)
   if !$margen-izq
      padding-left 0

   li
      list-style none
      a
         display block
         text-decoration none
